.ListItem {
    border: dashed 1px #8b0000;
    width: 500px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    list-style: none;
    background-color: #8b0000;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.ListItem:hover {
    cursor: pointer;
    background-color: #b22222;
}

.List {
    padding: 0;
}