@import "appColors";

.ListItem {
  border: dashed 1px #8b0000;
  width: 500px;
  height: 35px;
  padding: 5px;
  margin: 5px;
  list-style: none;
  background-color: $list-item-color;
  color: $list-item-text-color;
  text-align: center;
  font-size: 25px;
}

.ListItem:hover {
  cursor: pointer;
  background-color: $list-item-hover;
}

.List {
  padding: 0;
}